.logo {
    max-width: 200px;
    width: 50vmin;
    height: auto;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
    transform: translateY(-10px);
}

.appTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin-top: -4rem;
    margin-bottom: 3rem;
}

.appTitle h1 {
    margin: 0;
    line-height: 1;
    font-size: 5rem;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: default;
}

.appTitle h1:hover {
    transform: translateY(-10px);
}

.appTitlecolor {
    font-family: 'CustomFont', sans-serif;
    font-weight: 300;
    color: #51361b;
}

.appTitlecolor2 {
    font-family: 'CustomFont', sans-serif;
    font-weight: 300;
    color: #c29159;
}